html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.3em;
    color: royalblue;
    font-size: 3em;
}

header h2 {
    margin: 0;
    padding: 0;
    letter-spacing: 0.1em;
    color: royalblue;
    font-size: 1.2em;
    align-self: center;
}

main {
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 6em;
    font-weight: 700;
    letter-spacing: 0.5em;
}