html {
    font-family: 'Roboto Flex', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winner {
    color: green;
}

.loser {
    color: red;
}