body {
    width: 1024px;
    margin: auto;
}

article a {
    color: grey;
    text-decoration: none;
}

article a:hover {
    font-size: 102%;
    color: lightcoral;
    text-decoration: underline;
}
