html {
	font-family: 'Open Sans', sans-serif;
}
::selection {
	color: hsl(10, 82%, 64%);
	background-color: hsl(10, 82%, 64%, .2);
}

body {
	margin: 0 auto;
	background-color: hsl(0, 0%, 95%);
}


header {
	margin: 2em auto 5em;
	padding: 0.5em;
	width: 80%;
	border-top: 1px solid hsla(0, 0%, 0%, .2);
	border-bottom: 1px solid hsla(0, 0%, 0%, .2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .2);
}
header h1 {
	margin: 0.2em 0;
	background-size: 400%;
	background-image: linear-gradient(
		145deg,
		hsl(10, 82%, 64%),
		hsl(5, 78%, 61%),
		hsl(1, 77%, 58%),
		hsl(335, 74%, 56%),
		hsl(351, 73%, 53%),
		hsl(345, 71%, 51%),
		hsl(340, 70%, 48%),
		hsl(335, 68%, 45%),
		hsl(331, 66%, 43%),
		hsl(315, 61%, 35%),
		hsl(311, 59%, 32%),
		hsl(306, 57%, 30%)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 10s linear infinite;
	text-align: center;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.4em;
}
@keyframes animate {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 100%;
	}
	100% {
		background-position: 0%;
	}
}
header h2 {
	margin: 0;
	font-size: 1.2em;
	font-weight: 400;
	text-transform: capitalize;
}

main {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: center;
}

#toc {
	flex-basis: 30%;
}
#toc h2 {
	width: fit-content;
	margin: 0;
	padding: 1em 2em;
	font-size: 1em;
	color: hsl(0, 0%, 0%);
	border-top: 1px solid hsla(0, 0%, 0%, .2);
	border-bottom: 1px solid hsla(0, 0%, 0%, .2);
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .2);
}
#toc ul {
	color: hsl(0, 0%, 0%);
	list-style-type: square;
}

#toc a {
	font-size: 1rem;
	color: hsl(0, 0%, 0%);
	text-decoration: none;
}
#toc a:hover {
	text-decoration: underline;
}

#developer img {
	width: 100px;
	margin: 1em 0 1em 1em;
	border: 3px solid hsl(335, 68%, 45%);
	border-radius: 50%;
	transition: border-left 0.1s, border-top-right-radius 0.25s, border-bottom-right-radius 0.25s;
}
#developer img:hover {
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
	cursor: pointer;
}

#devInfo {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
}

#devInfo ul {
	margin: 0;
	padding-left: 1em;
	align-self: center;
	list-style-type: none;
}
#devName {
	font-size: 1.2em;
	font-weight: 700;
}
#devTitle {
	font-size: 1em;
	letter-spacing: 0.4em;
}
#devKnowledge {
	font-size: 0.8em;
	padding-top: 1em;
	text-transform: uppercase;
}
.lang {
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	color: hsl(0, 0%, 100%);
	background-color: hsl(10, 82%, 64%);
	transition: box-shadow 0.25s, transform 0.25s;
}
.lang:hover {
	display: inline-block;
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .2);
	transform: translateY(-0.2em);
	cursor: pointer;
}

#notes {
	flex-basis: 70%;
}
#notes article {
	margin-bottom: 2em;
	border-top: 1px solid hsla(0, 0%, 0%, .2);
	border-bottom: 1px solid hsla(0, 0%, 0%, .2);
	padding: 1em 2em;
	color: hsla(0, 0%,0%);
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .2);
	transition: background-color 0.25s, boxshadow 0.25s, transform 0.25s;
}
#notes h2 {
	font-size: 1.5em;
	padding: 0.2em 0;
	border-bottom: 1px solid hsla(0, 0%, 0%, .1);
}
.tag {
	border-bottom: 0.3em solid hsl(45, 50%, 50%);
	border-radius: 0.5em;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	background-color: hsl(45, 90%, 70%);
	color: hsl(45, 90%, 30%);
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .5);
}
#notes h3 {
	margin: 0;
	padding: 2em 0 0.5em 0;
}
#notes h3::before {
	content:"\279C";
	padding-right: 0.2em;
	background-size: 400%;
	background-image: linear-gradient(
		145deg,
		hsl(10, 82%, 64%),
		hsl(5, 78%, 61%),
		hsl(1, 77%, 58%),
		hsl(335, 74%, 56%),
		hsl(351, 73%, 53%),
		hsl(345, 71%, 51%),
		hsl(340, 70%, 48%),
		hsl(335, 68%, 45%),
		hsl(331, 66%, 43%),
		hsl(315, 61%, 35%),
		hsl(311, 59%, 32%),
		hsl(306, 57%, 30%)
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animate 10s linear infinite;
	font-size: 1.2em;
}
.example {
	position: relative;
	margin-top: 1em;
	border-bottom: 5px solid hsl(335, 68%, 45%);
	border-radius: 0.5em;
	padding: 0.5em 0;
	background-image: linear-gradient(145deg, hsl(10, 82%, 64%) 55%, hsl(335, 68%, 45%));
	color: hsl(0, 0%, 100%);
	line-height: 1.5em;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: center;
	box-shadow: 0 0.5em 0.5em -0.4em hsla(0, 0%, 0%, .5);
}
.example div:first-of-type {
	padding-right: 5em;
}
.example div:nth-of-type(2) {
	padding-right: 5em;
}
.example div:nth-of-type(3) {
	padding-right: 5em;
}
.example::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(180deg, hsla(0, 100%, 100%, 0), hsla(0, 100%, 100%, .1) 30%, hsla(0, 100%, 100%, 0));
	top: 0;
	left: 0;
}
.example::after {
	content: "";
	position: absolute;
	width: 99%;
	height: 50%;
	border: 2px solid hsl(0, 82%, 74%);
	border-width: 0 0 1px 0;
	border-bottom-right-radius: 0.5em;
	background-color: transparent;
	bottom: 0;
	right: 0;
	filter: blur(-0.1em);
}
.example li {
	list-style-type: square;
}

#notes p {
	margin-top: 1.5em;
	padding: 0 1em;
	text-align: justify;
	font-size: 1em;
	line-height: 1.5em;
	color: black;
}

.highlight {
	border: 1px solid hsla(0, 0%, 0%, .2);
	border-radius: 0.2em;
	padding: 0 0.2em;
	background-color: hsla(0, 0%, 100%, .6);
	color: hsl(0, 0%, 0%);
	font-weight: 700;
}

.important {
	border-radius: 0.2em;
	padding: 0 0.2em;
	color: hsl(306, 57%, 20%);
	font-weight: 700;
}

sup {
	color:hsla(0, 100%, 100%, 1);
	font-weight: 400;
	padding: 0 0.5em;
	border: 1px solid;
	border-radius: 0.3em;
}
.sup2 {
	color:hsla(0, 0%, 0%, 1);
	font-weight: 400;
	padding: 0 0.5em;
	border: 1px solid;
	border-radius: 0.3em;
}
sub {
	color:hsla(0, 100%, 100%, 1);
	font-weight: 400;
	padding: 0 0.5em;
	border: 1px solid;
	border-radius: 0.3em;
}

/* JavaScript related stuff */
/* PokeDex */
.poke {
	
	display: flex;
	padding: 2em;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.pokeSpan {
	position: relative;
	margin: 0.5em auto;
	border: 2px solid hsla(0, 100%, 100%, 0.8);
	border-radius: 0.2em;
	background-color: hsla(0, 100%, 100%, 0.5);
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
	box-shadow: 0 0.5em 0.5em -0.5em hsla(0, 0%, 0%, .5);
}
.pokeSpan:hover {
	border-color: hsla(0, 50%, 50%, 1);
	background-color: hsla(45, 90%, 70%, 0.7);
	transform: translateY(-0.5em) rotateY(.5turn);
}

.pokeNum {
	margin: 0 0 0 0.2em;
	display: flex;
	justify-content: flex-start;
	color: hsla(0, 100%, 100%, 1);
	font-weight: 700;
	transition: justify-content 0.3s ease-in-out, transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
.pokeSpan:hover .pokeNum {
	justify-content: flex-start;
	transform: rotateY(0.5turn);
	color: hsla(0, 50%, 50%, 1);
}

.pokeSpan img {
	display: block;
	transition: transform 0.3s ease-in-out;
}
.pokeSpan:hover img {
	animation: pokeHover 1.5s linear infinite;
	transform: scale(150%) rotateY(-0.5turn);
}

/* End of PokeDex */


/* End of JavaScript Related Stuff */


@keyframes pokeHover {
	0% {
		transform: translateY(0%) scale(150%) rotateY(-0.5turn);
	}
	50% {
		transform: translateY(-10%) scale(150%) rotateY(-0.5turn);
	}
	100% {
		transform: translateY(0%) scale(150%) rotateY(-0.5turn);
	}
}


/* Responsive Stuff */

@media (max-width: 1199.98px) {
	header h1 {
		font-size: 2em;
	}
	main {
		flex-direction: column;
	}
	#notes article {
		padding: 0.3em 1em;
	}
	#notes p {
		padding: 0;
	}
}
@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
	main {
		justify-content: flex-start;
	}
	#developer img {
		width: 60px;
	}
}
@media (max-width: 575.98px) {
	header h1 {
		font-size: 1.5em;
	}
}
