html {
    font-family: 'Roboto Flex', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}